pyrogram
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
pysrt
requests
tqdm
charset_normalizer
urllib3
chardet
bs4
cinemagoer
Heroku3
search_engine_parser
wget
aiofiles
ffmpeg-python
ffmpeg
asyncio
aiohttp
PyPDF2
ujson
pyshorteners
countryinfo
psutil
wheel
datetime
pytz
dnspython
python-math
Pillow
speedtest-cli
